[server]
host-name={{ avahi_hostname }}
domain-name={{ avahi_domain }}
use-ipv4=yes
use-ipv6=no
allow-interfaces={{ avahi_interface }}
ratelimit-interval-usec={{ avahi_rate_interval }}
ratelimit-burst={{ avahi_rate_burst }}

[wide-area]
enable-wide-area=no

[publish]
publish-addresses=yes
publish-hinfo=yes
publish-workstation=yes
publish-domain=yes

[reflector]
enable-reflector=yes
