auto {{ wifi_interface }}
iface {{ wifi_interface }} inet manual
pre-up ip link set {{ wifi_interface }} down
pre-up iw dev {{ wifi_interface }} set type ibss
pre-up ip link set {{ wifi_interface }} up
pre-up iw dev {{ wifi_interface }} ibss join "{{ network_name }}" {{ frequency }}
pre-up ip link set {{ wifi_interface }} mtu 1500
pre-up batctl if add {{ wifi_interface }}
up ip link set {{ batman_interface }} up
up ip addr add {{ manet_ip }}/24 dev {{ batman_interface }}
